<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 전체 목록</title>
</head>
<body>
<h1>뮤지컬 정보 전체 보기</h1>
<table>
    <tr>
        <th>뮤지컬 정보</th>
        <th>뮤지컬 날짜</th>
        <th>뮤지컬 가격</th>
        <th>출연진</th>
        <th>줄거리</th>
        <th>뮤지컬 장소</th>
    </tr>
    <tr th:each="order : ${ musicalList }">
        <th th:text="${ order.musicalId }"></th>
        <th th:text="${ order.musicalDate }"></th>
        <th th:text="${ order.musicalPrice }"></th>
        <th th:text="${ order.cast }"></th>
        <th th:text="${ order.plot }"></th>
        <th th:text="${ order.musicalLocation}"></th>
    </tr>
</table>
</body>
</html>