<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>🎼나의 뮤지컬 리스트🎼</h1>

    <button onclick="location.href='../order/list'">뮤지컬 정보 전체 보기</button>
    <button onclick="location.href='../order/3'">선택된 뮤지컬 정보 보기</button>
    <button onclick="location.href='../order/regist'">보고싶은 뮤지컬 등록</button>
    <button onclick="location.href='../order/modify'">보고싶은 뮤지컬 수정</button>
    <button onclick="location.href='../order/delete'">보고싶은 뮤자컬 삭제</button>
    <button onclick="location.href='../order/querymethod'">뭐리 메소드</button>



</body>
</html>